services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - default

  redis:
    image: redis:7-alpine
    restart: always
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - default

  backend:
    build: ./backend
    restart: always
    depends_on:
      - db
      - redis
    env_file: .env
    networks:
      - default
      - traefik_public
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend-webhooks.rule=Host(`jidoka.x0ryz.cc`) && PathPrefix(`/api/webhook`)"
      - "traefik.http.routers.backend-webhooks.entrypoints=websecure"
      - "traefik.http.routers.backend-webhooks.tls.certresolver=myresolver"
      - "traefik.http.services.backend-svc.loadbalancer.server.port=8000"
      - "traefik.docker.network=traefik_public"

  worker:
    build: ./backend
    restart: always
    depends_on:
      - db
      - redis
    env_file: .env
    networks:
      - default

  scheduler:
    build: ./backend
    restart: always
    depends_on:
      - db
      - redis
    env_file: .env
    command: taskiq scheduler src.core.broker:scheduler src.worker
    networks:
      - default

  frontend:
    build: ./frontend
    container_name: jidoka_frontend
    restart: always
    networks:
      - traefik_public
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jidoka-frontend.rule=Host(`jidoka.x0ryz.cc`)"
      - "traefik.http.routers.jidoka-frontend.entrypoints=websecure"
      - "traefik.http.routers.jidoka-frontend.tls.certresolver=myresolver"
      - "traefik.http.services.jidoka-frontend.loadbalancer.server.port=80"
      - "traefik.docker.network=traefik_public"
      - "traefik.http.middlewares.jidoka-auth.basicauth.users=admin:$$apr1$$elGQDAvh$$NH4VTlh6fiPKjdqTv2rPn/"
      - "traefik.http.routers.jidoka-frontend.middlewares=jidoka-auth"

volumes:
  postgres_data:
  redis_data:

networks:
  default:
    driver: bridge
  traefik_public:
    external: true
