services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./temp_media:/app/temp_media
    env_file: .env
    command: sh -c "alembic upgrade head && uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload"

  worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./temp_media:/app/temp_media
    env_file: .env
    command: taskiq worker src.core.broker:broker src.worker

  scheduler:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    env_file: .env
    command: taskiq scheduler src.core.broker:scheduler src.worker

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - backend