fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
pydantic
pydantic-settings
sqladmin
httpx
loguru
aioboto3
websockets
jinja2
redis
asyncio
tenacity
gunicorn
openpyxl
pandas
python-multipart
taskiq
taskiq-redis
taskiq-fastapi
sentry-sdk[fastapi]
aiolimiter
cryptography
